.git
.github
.next
.playwright
.pytest_cache
.ruff_cache
.turbo
**/.env
**/.env.*
!**/.env.example
**/.venv
**/__pycache__
**/node_modules
**/test-results
artifacts
coverage
infrastructure/local/.env
